@Model @model Nop.Admin.Models.Omni_Royalty.EnrollmentModel
    <h3>Early bird discount</h3><br/>
<div>
    @Html.LabelFor(model => model.Earlybird_W1)
</div>
<div>
    @Html.EditorFor(model => model.Earlybird_W1)
</div>

<div>
    @Html.LabelFor(model => model.Earlybird_W2)
</div>
<div>
    @Html.EditorFor(model => model.Earlybird_W2)
</div>